{% extends "base.html" %}
{% block title %} Главная {% endblock %}
{% load sidebar %}
{% block body %}


    <div class="container">
    <div class="row">
        <div class="col-lg-10">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Товары</h1>
            <p class="lead"></p>
        </div>

        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            {% for e in items %}
                <div class="col">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">{{ e.title }}</h4>
                        </div>
                        <div class="card-body">
                            <a href="{{ e.get_absolute_url }}"><img
                                    src="{{ e.image.url }}" class="card-img" alt="..."
                            ></a>
                            <h1 class="card-title pricing-card-title">{{ e.price }} <small
                                    class="text-muted">рублей</small></h1>

                            <a href="{{ e.get_absolute_url }}" class="w-100 btn btn-lg btn-outline-primary">Купить</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include '_pegination.html' %}
        </div>
        <aside class="col-lg-2">
            {% get_cat %}
        </aside>
    </div>
    </div>
{% endblock %}